.greeting {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

body {
  background-color: var(--primary-darker-color);
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
}

.content {
  padding: 350px 0;
  text-align: center;
}

.form {
  background-color: #00bb98;
  max-height: 450px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.mat-card {
  padding: 50px;
  margin-top: 250px;
}

.mat-card-title {
  font-size: 25px;
  font-weight: 500;
}

.mat-form-field-wrapper {
  position: relative;
  width: 250px;
}

.button {
  width: 140px;
  font-size: 15px;
}

.after-button {
  margin-bottom: 16px;
}

#createAccount {
  width: 200px;
  margin: 20px auto;
}

#login {
  padding-left: 2px;
  padding-right: 0px;
  margin-bottom: 25px;
}

#done {
  margin-top: 250px;
}
