<body>
  <div class="content" *ngIf="!newUser; else newUserForm">
    <h1 class="greeting">Welcome To GrowPod</h1>
    <button class="button" id="login" on-click="signInWithGoogle('login')">
      Login
    </button>
    <br />
    <button class="button" id="signup" on-click="signInWithGoogle('signup')">
      Sign up
    </button>
  </div>
  
  <ng-container *ngIf= "admin">
  <create-gardens [email]="user.email" ></create-gardens>
</ng-container>


<ng-container *ngIf="done">
    <mat-card class="mat-elevation-z8 form" id="done" *ngIf="done">
        <mat-card-title>
      Your account was successfully created.
    </mat-card-title>
    <button
          mat-button
          class="button"
          type="button"
          id="accounutCreated"
          on-click="redirect()"
        >
          Thanks!
        </button>
        </mat-card
  >

</ng-container>


       


</body>

<ng-template #newUserForm>
  <mat-card class="mat-elevation-z8 form" *ngIf="!admin && !done">
    <mat-card-title>
      Tell us a little more about yourself!
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="userGroup">
        <mat-form-field appearance="fill">
          <input
            matInput
            placeholder="Zipcode"
            [(ngModel)]="zipCode"
            formControlName="zipCodeValidator"
          />
          <mat-error
            *ngIf="userGroup.controls.zipCodeValidator.hasError('required')"
          >
            Zipcode is required
          </mat-error> </mat-form-field
        ><br />

        <mat-form-field appearance="fill">
          <textarea
            matInput
            placeholder="Bio"
            [(ngModel)]="bio"
            formControlName="bioValidator"
          ></textarea>
          <mat-error
            *ngIf="userGroup.controls.bioValidator.hasError('required')"
          >
            Biography is required
          </mat-error> </mat-form-field
        ><br />

        <mat-form-field appearance="fill">
          <mat-label>Are you joining or creating a garden?</mat-label>
          <mat-select formControlName="gardenValidator" [(ngModel)]="choice">
            <mat-option value="join">Joining</mat-option>
            <mat-option value="create">Creating</mat-option>
          </mat-select>
          <mat-error
            *ngIf="userGroup.controls.gardenValidator.hasError('required')"
          >
            Please select an option
          </mat-error>
        </mat-form-field>

        <button
          mat-button
          class="button"
          type="button"
          id="createAccount"
          on-click="buildUserProfile()"
        >
          Create Account
        </button>
      </form></mat-card-content
    ></mat-card
  >
</ng-template>


