.growpod-main-section {
  display: block;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.growpod-card {
  border-radius: 32px;
}

.text-center {
  text-align: center;
}

/* Large profile pic */
.profile-pic-container-l {
  position: relative;
  width: 33%; /* The size you want */
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  border:16px solid black;    
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.profile-pic-container-l:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.profile-pic-container-l img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
  border-radius: 50%;
}

