.button {
  padding: 0.5em 3em;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  box-shadow: inset 0 -0.6em 0 -0.35em #003353;
  background-color: #005c80;
  color: white;
}

.button:hover {
  box-shadow: inset 0 -0.6em 0 -0.35em whitesmoke;
  background-color: white;
  color: #005c80;
}

.growpod-main-section {
  display: block;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.growpod-card {
  background-color: var(--primary-lighter-color);
}

.text-center {
  text-align: center;
}

/* Small profile pic */
.profile-pic-container-s {
  position: relative;
  width: 33%; /* The size you want */
  margin: 0 auto;
  background-image: url("https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  border: 4px solid black;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-pic-container-s:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.profile-pic-container-s img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
  border-radius: 50%;
}

/* Large profile pic */
.profile-pic-container-l {
  position: relative;
  width: 33%; /* The size you want */
  margin: 0 auto;
  background-image: url("https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  border: 16px solid black;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-pic-container-l:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.profile-pic-container-l img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
  border-radius: 50%;
}

.right-align {
  margin-left: auto;
}

.div-center {
  margin: 0 auto;
}
