<h1>Create an Event</h1>
<h4>After creating your event, it will be available in your calendar</h4>

<form [formGroup]="eventGroup">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Enter a title" />
    <mat-error
      *ngIf="
        eventGroup.controls.title.hasError('required') ||
        eventGroup.controls.title.hasError('minLength')
      "
    >
      Event title is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input
      formControlName="dateTime"
      matInput
      [matDatepicker]="datepicker"
      disabled
    />
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker disabled="false"></mat-datepicker>
    <mat-error *ngIf="eventGroup.controls.dateTime.hasError('required')">
      Event date is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <table>
    <tr>
      <td>
        <mat-label>Start Time</mat-label>
        <input formControlName="startTime" type="time" />
        <mat-error *ngIf="eventGroup.controls.startTime.hasError('required')">
          Starting time is <strong>required</strong>
        </mat-error>
      </td>
      <td>
        <mat-label>End Time</mat-label>
        <input formControlName="endTime" type="time" />
        <mat-error *ngIf="eventGroup.controls.endTime.hasError('required')">
          Ending time is <strong>required</strong>
        </mat-error>
      </td>
    </tr>
  </table>

  <br />

  <mat-label>Timezone</mat-label>
  <select formControlName="timezone">
    <option *ngFor="let tz of timezoneUS" [value]="tz">{{ tz }}</option>
  </select>
  <mat-error *ngIf="eventGroup.controls.timezone.hasError('required')">
    Timezone is <strong>required</strong>
  </mat-error>

  <br />

  <mat-label>Members</mat-label>
  <p>Invite others by entering their email separated by commas</p>
  <input formControlName="participants" type="email" size="30" multiple />
  <mat-error *ngIf="eventGroup.controls.participants.hasError('pattern')">
    Include valid emails and separate by commas
  </mat-error>

  <br />

  <mat-form-field class="div-center">
    <mat-label>Description</mat-label>
    <input
      formControlName="description"
      matInput
      placeholder="(Optional) Enter a description"
    />
  </mat-form-field>
</form>
