/* Split the screen in half */
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-split {
  flex: 0 1 50%;
  padding: 3em;
}

.card-padding {
  padding: 20px;
}

mat-expansion-panel,
mat-panel-title {
  background-color: #005c80;
  color: white;
}
