<div class='split left'>
  <div class='card-padding'>
    <mat-card>
      <h2> Peapod Garden </h2>
      <h4> Caroline | New York City, NY </h4>
      <button md-raised-button class='button-style'> Go back </button>
    </mat-card>
  </div>

  <div class='card-padding'>
    <mat-card>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Stats </mat-panel-title>
          </mat-expansion-panel-header>
            <p>This garden has been active for 31 days.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Plants </mat-panel-title>
          </mat-expansion-panel-header>
            <ul>
              <li>Pea plant</li>
              <li>Pears</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Members </mat-panel-title>
          </mat-expansion-panel-header>
            <ul>
              <li>Caroline (owner)</li>
              <li>Jake</li>
              <li>Kayla</li>
              <li>Cody</li>
              <li>Stephanie</li>
            </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</div>

<div class='split right'>
  <div class='card-padding'>
    <mat-card>
      <img src="https://i.ibb.co/VHrQPyD/calendar.jpg" alt="calendar" border="0">
    </mat-card>
  </div>
</div>
