<div *ngIf="displayInfo != null; else elseBlock">
  <div class="flex-container">
    <div class="flex-split">
      <div class="card-padding">
        <mat-card class="growpod-card">
          <h1>{{ displayInfo.name }}</h1>
          <!--TODO: Display Zipcode-->
          <h3>Location: 12345</h3>
          <button md-raised-button class="button">Go back</button>
        </mat-card>
      </div>

      <div class="card-padding">
        <mat-card class="growpod-card">
          <create-event-form  #eventForm></create-event-form>
          <button mat-button class="button" (click)="createCalendarEvent()">Create Event</button>
        </mat-card>
      </div>
    </div>

    <div class="flex-split">
      <div class="card-padding">
        <mat-card class="growpod-card">
          <mat-card-title> Schedule </mat-card-title>

          <datepicker #datepickerElem></datepicker>

          <button
            md-raised-button
            class="button"
            (click)="fetchCalendarEvents()"
          >
            Show Events
          </button>

          <calendar-tasks #calendarTasks></calendar-tasks>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div>
  <!-- Error case -->
  <ng-template #elseBlock>
    <h4 class="text-center">
      <mat-icon aria-label="Error" color="warn">error</mat-icon>
      {{ errorMessage }}
    </h4>
  </ng-template>
</div>
