<mat-card class="growpod-main-section growpod-card bio-card">
  <mat-card-content>
    <div *ngIf="isLoaded">
      <!-- Regular case -->
      <div *ngIf="userProfile; else elseBlock">
        <div
          id="profile-pic"
          class="profile-pic-container-l mat-elevation-z4"
        ></div>
        <h1 class="text-center">
          {{ userProfile.preferredName }}
        </h1>
        <h4 class="text-center">
          <mat-icon aria-label="User location:">location_on</mat-icon>
          {{ userProfile.zipCode }}
        </h4>
        <a href="mailto:user@email.com">
          <p class="text-center">
            {{ userProfile.email }}
          </p>
        </a>
        <mat-card class="biography">
          <p>
            {{ userProfile.biography }}
          </p>
        </mat-card>
      </div>
      <!-- Error case -->
      <ng-template #elseBlock>
        <h4 class="text-center">
          <mat-icon aria-label="Error" color="warn">error</mat-icon>
          {{ errorMessage }}
        </h4>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
