<mat-card class="growpod-main-section growpod-card">
  <mat-card-content>
    <div
      id="profile-pic"
      class="profile-pic-container-l mat-elevation-z4"
    ></div>
    <h1 class="text-center">User nickname</h1>
    <h4 class="text-center">
      <mat-icon aria-label="User location:">location_on</mat-icon>Mountain View,
      CA
    </h4>
    <a href="mailto:user@email.com">
      <p class="text-center">user@email.com</p>
    </a>
    <section class="biography">
      <p>
        I love plants in just about every way you can imagine.
      </p>
    </section>
  </mat-card-content>
</mat-card>
