<div *ngIf="isLoaded">
  <h1>Gardens I Joined</h1>
  <div *ngIf="myGardenIdList; else myGardenErrorBlock">
    <div *ngIf="myGardenIdList.length > 0; else myGardenEmptyBlock">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let gardenId of myGardenIdList">
          <mat-card class="mat-elevation-z8 cards">
            <div
              *ngIf="
                myGardenMap.get(gardenId) as garden;
                else noGardenDataBlock
              "
            >
              <mat-card-header>
                <mat-card-title class="title"
                  ><h2>{{ garden.name }}</h2></mat-card-title
                >
              </mat-card-header>

              <img
                class="garden-image"
                src="https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
              />
              <div class="avatar-image">
                <img
                  mat-card-avatar
                  class="avatar"
                  src="https://images.unsplash.com/photo-1571442463800-1337d7af9d2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                />
              </div>

              <h3 class="name">{{ gardenAdminNames.get(garden.adminId) }}</h3>
              <div></div>
              <h4 class="name">
                <mat-icon aria-label="Garden location:">location_on</mat-icon>
                {{ garden.zipCode }}
              </h4>

              <mat-card-content>
                <p>
                  {{ garden.description }}
                </p>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </div>
            <ng-template #noGardenDataBlock>
              Cannot load garden with garden id: {{ gardenId }}.
            </ng-template>
          </mat-card>
        </ng-template>
      </owl-carousel-o>
    </div>
    <ng-template #myGardenEmptyBlock>
      <mat-card class="growpod-main-section growpod-card">
        <mat-card-content>
          <h4 class="text-center">
            <mat-icon aria-label="No results" color="accent"
              >search_off</mat-icon
            >
            You are not a member of any gardens.
          </h4>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
  <!-- Error case -->
  <ng-template #myGardenErrorBlock>
    <mat-card class="growpod-main-section growpod-card">
      <mat-card-content>
        <h4 class="text-center">
          <mat-icon aria-label="Error" color="warn">error</mat-icon>
          {{ myGardenIdListError }}
        </h4>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <h1>Gardens I Administer</h1>
  <div *ngIf="myGardenAdminIdList; else myGardenAdminErrorBlock">
    <div *ngIf="myGardenAdminIdList.length > 0; else myGardenAdminEmptyBlock">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let gardenId of myGardenAdminIdList">
          <mat-card class="mat-elevation-z8 cards">
            <div
              *ngIf="
                myGardenAdminMap.get(gardenId) as garden;
                else noGardenAdminDataBlock
              "
            >
              <mat-card-header>
                <mat-card-title class="title"
                  ><h2>{{ garden.name }}</h2></mat-card-title
                >
              </mat-card-header>

              <img
                class="garden-image"
                src="https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
              />
              <div class="avatar-image">
                <img
                  mat-card-avatar
                  class="avatar"
                  src="https://images.unsplash.com/photo-1571442463800-1337d7af9d2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                />
              </div>

              <h3 class="name">{{ gardenAdminNames.get(garden.adminId) }}</h3>
              <div></div>
              <h4 class="name">
                <mat-icon aria-label="Garden location:">location_on</mat-icon>
                {{ garden.zipCode }}
              </h4>

              <mat-card-content>
                <p>
                  {{ garden.description }}
                </p>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </div>
            <ng-template #noGardenAdminDataBlock>
              Cannot load garden with garden id: {{ gardenId }}.
            </ng-template>
          </mat-card>
        </ng-template>
      </owl-carousel-o>
    </div>
    <ng-template #myGardenAdminEmptyBlock>
      <mat-card class="growpod-main-section growpod-card">
        <mat-card-content>
          <h4 class="text-center">
            <mat-icon aria-label="No results" color="accent"
              >search_off</mat-icon
            >
            You do not own any gardens.
          </h4>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
  <!-- Error case -->
  <ng-template #myGardenAdminErrorBlock>
    <mat-card class="growpod-main-section growpod-card">
      <mat-card-content>
        <h4 class="text-center">
          <mat-icon aria-label="Error" color="warn">error</mat-icon>
          {{ myGardenAdminIdListError }}
        </h4>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
