<h1>Gardens I Own</h1>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <mat-card class="mat-elevation-z8 cards">
      <mat-card-header>
        <mat-card-title class="title"
          ><h2>The Elm Street Garden</h2></mat-card-title
        >
      </mat-card-header>

      <img
        class="garden-image"
        src="https://images.unsplash.com/photo-1506277825598-341fc170b05a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
      />

      <div class="avatar-image">
        <img
          mat-card-avatar
          class="avatar"
          src="https://images.unsplash.com/photo-1552642986-ccb41e7059e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        />
      </div>

      <h3 class="name">Dave Hogan</h3>

      <mat-card-content>
        <p>
          Hey guys, our output this month has been great! Keep up the good
          work.So far our yield is looking like this...
        </p>
        <ul>
          <li>15 Onions</li>
          <li>25 Tomatoes</li>
          <li>30 Potatoes</li>
        </ul>
        <p>
          Next time we meet let's try to set some goals for next month. Good job
          guys!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="button">View Schedule</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>

  <ng-template carouselSlide>
    <mat-card class="mat-elevation-z8 cards">
      <mat-card-header>
        <mat-card-title class="title"
          ><h2>Dave's Veggie Palace</h2></mat-card-title
        >
      </mat-card-header>
      <img
        class="garden-image"
        src="https://images.unsplash.com/photo-1568623970736-27bea63b4489?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
      />

      <div class="avatar-image">
        <img
          mat-card-avatar
          class="avatar"
          src="https://images.unsplash.com/photo-1552642986-ccb41e7059e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        />
      </div>
      <h3 class="name">Dave Hogan</h3>
      <mat-card-content>
        <p>
          Great news! Even though this garden has only been open for a month
          we've seen great progress. We hit our yield goal! Here are some stats
          about what we grew this month...
        </p>
        <ul>
          <li>35 Cherry Tomatoes</li>
          <li>10 Eggplants</li>
          <li>27 Cabbages</li>
        </ul>
        <p>
          Keep up the good work everyone!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="button">View Schedule</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</owl-carousel-o>

<h1>Gardens I Joined</h1>

<mat-card class="mat-elevation-z8 cards">
  <mat-card-header>
    <mat-card-title class="title"><h2>The Baily Garden</h2></mat-card-title>
  </mat-card-header>

  <img
    class="garden-image"
    src="https://images.unsplash.com/photo-1558070510-504a0db43997?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
  />

  <div class="avatar-image">
    <img
      mat-card-avatar
      class="avatar"
      src="https://images.unsplash.com/photo-1534751516642-a1af1ef26a56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
    />
  </div>

  <h3 class="name">Eve Noble</h3>

  <mat-card-content>
    <p>
      Hey guys, our output this month has been great! Keep up the good work.So
      far our yeaild is looking like this...
    </p>
    <ul>
      <li>15 onions</li>
      <li>25 tomatoes</li>
      <li>30 potatoes</li>
    </ul>
    <p>
      Next time we meet lets try to set some goals for next month. Good job
      guys!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="button">View Schedule</button>
  </mat-card-actions>
</mat-card>
