<section class="growpod-main-section">
  <h1 class="text-center">This is <i>NOT</i> a static test page</h1>
  
  <h2>The following is the argument that was passed to this page</h2>
  <pre>{{argument}}</pre>

  <h2>EXERCISE: Send some data to the server, and get a response</h2>
  <mat-form-field appearance="standard">
    <mat-label>Server input</mat-label>
    <input matInput placeholder="Server data">
    <mat-hint>Press enter to submit</mat-hint>
  </mat-form-field>

  <h2>Server Response</h2>
  <div #serverResponse></div>
</section>
