<div *ngIf="isLoaded">
  <div *ngIf="gardenList; else errorBlock">
    <div *ngIf="gardenList.length > 0; else emptyBlock">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let garden of gardenList">
          <mat-card class="mat-elevation-z8 cards">
            <mat-card-header>
              <mat-card-title class="title"
                ><h2>{{ garden.name }}</h2></mat-card-title
              >
            </mat-card-header>

            <img
              class="garden-image"
              src="https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            />
            <div class="avatar-image">
              <img
                mat-card-avatar
                class="avatar"
                src="https://images.unsplash.com/photo-1571442463800-1337d7af9d2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
              />
            </div>

            <h3 class="name">{{ gardenAdminNames.get(garden.adminId) }}</h3>
            <div></div>
            <h4 class="name">
              <mat-icon aria-label="Garden location:">location_on</mat-icon>
              {{ garden.zipCode }}
            </h4>

            <mat-card-content>
              <p>
                {{ garden.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <div
                *ngIf="
                  userGardenSet && userGardenSet.has(garden.id);
                  else joinGardenBlock
                "
              >
                <button mat-button disabled class="button">
                  Already joined
                </button>
              </div>
              <ng-template #joinGardenBlock>
                <button
                  mat-button
                  class="button"
                  (click)="joinGarden(garden.id)"
                >
                  Join Garden
                </button>
              </ng-template>
            </mat-card-actions>
          </mat-card>
        </ng-template>
      </owl-carousel-o>
    </div>
    <ng-template #emptyBlock>
      <mat-card class="growpod-main-section growpod-card">
        <mat-card-content>
          <h4 class="text-center">
            <mat-icon aria-label="No results" color="accent"
              >search_off</mat-icon
            >
            No nearby gardens found.
          </h4>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <br />
    <div class="div-center-contents">
      <mat-form-field>
        <mat-label>Search in another ZIP Code</mat-label>
        <input
          [formControl]="zipCodeControl"
          matInput
          placeholder="Enter a 5-digit ZIP code"
        />
        <mat-error *ngIf="zipCodeControl.hasError('pattern')">
          Must be a valid ZIP (not ZIP+4) code
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- Error case -->
  <ng-template #errorBlock>
    <mat-card class="growpod-main-section growpod-card">
      <mat-card-content>
        <h4 class="text-center">
          <mat-icon aria-label="Error" color="warn">error</mat-icon>
          {{ errorMessage }}
        </h4>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
