<!-- Template page: these components will appear on
every page unless they are suppressed. -->
<mat-toolbar id="growpod-top-bar">
  <mat-toolbar-row>
    <a routerLink="/page/index"><span>GrowPod</span></a>
    <span class="growpod-spacer"></span>
    <a routerLink="/page/test-page1" routerLinkActive="active">
      <span class="growpod-link">
        Test Page 1
      </span>
    </a>
    <a routerLink="/page/test-page2" routerLinkActive="active">
      <span class="growpod-link">
        Test Page 2
      </span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Routed page contents -->
<router-outlet></router-outlet>
