.active {
  font-weight: bold;
}

.growpod-link {
  padding: 0 14px;
}

.growpod-spacer {
  flex: 1 1 auto;
}

/** Removes special formatting from hyperlinks */
a {
  color: inherit;
  text-decoration: inherit;
}

mat-toolbar {
  background-color: #58D68D;
}
