<mat-card class="mat-elevation-z8 form">
  <mat-card-title>
    Tell us about your garden!
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="gardenGroup">
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="Garden Name"
          [(ngModel)]="gardenName"
          formControlName="gardenNameValidator"
        />
        <mat-error
          *ngIf="gardenGroup.controls.gardenNameValidator.hasError('required')"
        >
          Name is required
        </mat-error> </mat-form-field
      ><br />

      <mat-form-field appearance="fill">
        <textarea
          matInput
          placeholder="Garden Description"
          [(ngModel)]="gardenDescription"
          formControlName="gardenDescriptionValidator"
        ></textarea>
        <mat-error
          *ngIf="
            gardenGroup.controls.gardenDescriptionValidator.hasError('required')
          "
        >
          Description is required
        </mat-error> </mat-form-field
      ><br />

      <mat-form-field appearance="fill">
        <textarea
          matInput
          placeholder="Garden Zipcode"
          [(ngModel)]="gardenZip"
          formControlName="gardenZipValidator"
        ></textarea>
        <mat-error
          *ngIf="gardenGroup.controls.gardenZipValidator.hasError('required')"
        >
          Zipcode is required
        </mat-error> </mat-form-field
      ><br />

      <button mat-button class="button" on-click="buildGardenProfile()">
        Create Garden
      </button>
    </form></mat-card-content
  ></mat-card
>
