.form {
  background-color: #00bb98;
  max-height: 450px;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#done {
  margin-top: 250px;
}

.mat-card {
  padding: 50px;
  margin-top: 250px;
}

#button {
  margin-top: 10px;
}
